<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Survey 1</h1>
    </div>

    <!-- Content Row -->
    <form>
        <p style="font-size: 22px;">1. What other apps would you like to see us offer?</p>

        <label class="container">One
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
          </label>
        <label class="container">Two
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
        <label class="container">Three
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
        <label class="container">Four
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>

        <br>
    </form>
    <br>
    <nav class="pagination-md">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="survey1.html">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="survey1-qn2.html">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="survey1-qn3.html">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="survey1-qn4.html">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="survey1-qn5.html">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="survey1-qn2.html">Next</a>
            </li>
        </ul>
    </nav>



</div>