<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 style="color:gray;">Questions</h1>
    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" onclick="window.location.href='add-questions.html'">Add New</button>

    <!-- Content Row -->

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Question</th>
                        <th>Options</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>What other apps would you like to see us offer?</td>
                        <td>Survey App, Shopping App, Learning App</td>
                        <td>
                            <a href="edit-employee.html">
                                <fa-icon [icon]="faPencilAlt" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <fa-icon [icon]="faTrash" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>If you could change just one thing about our product, what would it be?</td>
                        <td>Decrease Price, Improve Quality, Improve Service</td>
                        <td>
                            <a href="edit-employee.html">
                                <fa-icon [icon]="faPencilAlt" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <fa-icon [icon]="faTrash" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>What are you using this product for?</td>
                        <td>Personal, Business, Social</td>
                        <td>
                            <a href="edit-employee.html">
                                <fa-icon [icon]="faPencilAlt" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <fa-icon [icon]="faTrash" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>How strongly do you agree with following statement: company's payment proceess is simple</td>
                        <td>Strongly Agree, Agree, Disagree, Strongly Disagree, Can't Say</td>
                        <td>
                            <a href="edit-employee.html">
                                <fa-icon [icon]="faPencilAlt" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <fa-icon [icon]="faTrash" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.container-fluid -->

<!-- End of Main Content -->