<div class="container-fluid">

    <!-- Page Heading -->
    <h1 style="color:gray;">Employee Registration</h1>
    <hr>
    <h3>Personal Details</h3>
    <hr>
    <form>
        <div class="row">
            <div class="col-xl-4">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="col-xl-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
        </div>
        <hr>
        <h3>Contact Details</h3>
        <hr>
        <div class="row">
            <div class="col-xl-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="col-xl-4">
                <label for="phone">Phone Number</label>
                <input type="tel" class="form-control" id="phone">
            </div>
        </div>
        <hr>
        <h3>Official Details</h3>
        <hr>
        <div class="row">
            <div class="col-xl-4">
                <label for="department">Department</label>
                <select name="department" id="department" class="form-control">
                        <option value="webDevelopment">Web Development</option>
                        <option value="analytics">Analytics</option>
                        <option value="business">Business</option>
                        <option value="accountancy">Accountancy</option>
                    </select>
            </div>
            <div class="col-xl-4">
                <label for="designation">Designation</label>
                <select name="designation" id="designation" class="form-control">
                    <option value="regionalDirector">Regional Director</option>
                    <option value="systemArchitect">System Architect</option>
                    <option value="fullStackDeveloper">Full Stack Developer</option>
                    <option value="juniorSE">Junior Software Engineer</option>
                    <option value="softwareET">Software Engineer Trainee</option>
                    <option value="accountant">Accountant</option>
                    <option value="businessAnalyst">Business Analyst</option>
                </select>
            </div>
            <div class="row">

            </div>
        </div>
        <br>
        <div class="row">
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">Register</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-danger">Cancel</button> &nbsp;&nbsp;
        </div>
    </form>

</div>