<div class="container-fluid">

    <!-- Page Heading -->
    <h1 style="color:gray;">Departments</h1>
    <br>

    <!-- Content Row -->
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary" (click)="onAddDepartment()">Add New</button>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Department Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let department of departments; let i = index">
                        <td>{{ i+1 }}</td>
                        <td>{{ department.departmentName }}</td>
                        <td>
                            <a style="cursor:pointer" [routerLink]="[i,'edit']">
                                <fa-icon [icon]="faPencilAlt" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                        <td>
                            <a style="cursor:pointer" (click)="onDeleteDepartment(i)">
                                <fa-icon [icon]="faTrash" style="color:#486dda;"></fa-icon>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <router-outlet></router-outlet>

</div>
<!-- /.container-fluid -->