<div class="container-fluid">

    <!-- Page Heading -->
    <h1 style="color:gray;">List of Surveys</h1>
    <br>
    <!-- Content Row -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Thank You Message</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="survey-questions.html" style="color: rgb(94, 41, 238);">Survey 1</a></td>
                        <td>Description</td>
                        <td>22-08-2020</td>
                        <td>25-08-2020</td>
                        <td>Message</td>
                        <td>Created</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a href="#" style="color: rgb(94, 41, 238);">Survey 2</a></td>
                        <td>Description</td>
                        <td>22-08-2020</td>
                        <td>25-08-2020</td>
                        <td>Message</td>
                        <td>Created</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>